body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('B:/mern/eezyGo/front-end-application/src/img/homepage3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-trans{
 
  background-color: transparent;
  box-shadow: 1.5px 1.5px 10px;

}

.flex-container{
  display: flex;
  flex-direction: row;
}


@media only screen and (max-width:319px){
  .card{

      font-size: 1.1rem;
  }

}

@media only screen and (min-width:320px) and (max-width:374px){
  .card{

      font-size: 1.3rem;
  }
  .responsive-text{
    font-size:50%;
  }
  img{
      height:55%;
  }

}


@media only screen and (min-width:375px) and (max-width:424px){
  .card{
      font-size: 1.7rem;
  }
  .responsive-text{
    font-size:57%
  }
  img{
      height:55%;
  }

}


@media only screen and (min-width:425px) and (max-width:539px){
  .card{
      font-size: 2.3rem;  
  }
  .responsive-text{
    font-size: 65%;
  }
  img{
      height:55%;
  }

}

@media only screen and (min-width:540px) and (max-width:580px){
  .card{
      font-size:2.5rem;   
  }
  .responsive-text{
    font-size: 0.9rem;
  }
  img{
      height:55%;
  }

}

@media only screen and (min-width:576px) and (max-width:767px){
  .card{
      font-size: 0.8rem;
      
  }

  img{
      height:55%;
  }

}

@media only screen and (min-width:768px) and (max-width:800px){
  .card{
      font-size: 85%;
      
  }
  img{
      height:55%;
  }

}

@media only screen and (min-width:990px) and (max-width:1024px) {
  .card{

 
      font-size: 1.2rem;   
  }
  .responsive-text{
    font-size: 1rem;
  }
  img{
      height:50%
  }


}

@media only screen and (min-width:1025px){
  .card{
      font-size:20px;
  }
  .responsive-text{
    font-size: 1rem;
  }

}

